/* Navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  overflow: hidden;
}

.logo {
  cursor: pointer;
  flex-direction: row;
}

.nav_links {
  list-style: none;

}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links a:hover {
  background-color: navy;
  color: orangered;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


/* hero */
.hero {
  background-image: url("../css/hero.jpg");
  height: 25vh;
  background-size: cover;
}

.herotitle {
  color: black;
  background-color:
}

/* Category Grid CSS */

.grid-container {
  height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-item {
  background-color: #636364;
}

.grid-itemflex-container {
  display: flex;
}

.grid-item2 {
  display: flex;
}

.flex-item {
  flex: 1;
}

#flexitem1 {
  background-color: #FF6200;
}

#flexitem2 {
  background-color: blue;
}

#flexitem3 {
  background-color: yellowgreen;
}


#beach{
  grid-area: beach;
  background-image: url("../css/beach.jpg");
}


#LED {
  grid-area: LED; 
  background-image: url("../css/ledwall.jpg"); 
}

#calc {
  grid-area: calc; 
  background-image: url("../css/calculator.jpg");
}

#car {
  grid-area: car;
  background-image: url("../css/car.jpg");
}

#run {
  grid-area: run;
  background-image: url("../css/02-run-buddy.jpg");
}
/* Text */

h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #FF6200;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}
