* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 100% auto;

} */

/* Navigation styles */
header{
  grid-template-rows: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  overflow: hidden;
}

.logo {
cursor: pointer;
flex-direction: row;
}

.nav_links {
  list-style: none;
 
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links a:hover {
  background-color: navy;
  color: orangered;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


/* hero */
.hero{
  background: pink;
  background-image: url("../css/hero.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
}

/* flexbox container */

.flex-container {
  display: flex;
  flex-flow: row wrap;
  text-align: right;
}

.flex-container>*{
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}

.header{
  background: tomato;
}

.footer{
  background: green;
}

.main{
  text-align: right;
  background: blueviolet;
}

#main1{
  background: chartreuse;
}

#main2{
  background: orange;
}

#main3{
  background: pink;
}

#main4{
  background: olivedrab;
}

#main5{
  background: navy;
}
.sidebar{
  background: yellow;
}

#main-image-row{
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#second-images-row{
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#third-images-row{
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* @media all and (min-width: 800px){
  .main{
    flex: 3;
  }
  .sidebar{
    order: 1;
  }

  .main{
    order: 2;
  }

  .footer{
    order: 4;
  }
}

@media all and (min-width: 600px){
  .sidebar{
    flex: 1;
  }
} */



